:root {
  --pri: hsl(174, 33%, 61%);
  --sec: hsl(174, 22%, 30%);
  --bgr: hsl(300, 6%, 99%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgr: hsl(300, 6%, 10%);
  }
  body {
    color: var(--pri) !important;
  }
}
::-moz-selection {
  background-color: var(--pri);
  color: var(--bgr);
}
::selection {
  background-color: var(--pri);
  color: var(--bgr);
}

::-webkit-scrollbar {
  width: 10px;
  background: var(--pri);
}

::-webkit-scrollbar-thumb {
  background-color: var(--sec);
  border: var(--pri) 3px solid;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  border-width: 2px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--sec);
  background-color: var(--pri);
  background-image: url("background.webp");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Segoe UI";
  font-size: 1.3rem;
}

nav {
  width: 100%;
  height: 100px;
  background: var(--pri);
  box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  top: 0;
  margin-top: 25px;
  padding: 0 20px;
  align-items: center;
  z-index: 1;
  transform-style: preserve-3d;
  box-shadow: 0 -25px var(--pri), 0 15px 25px -10px hsla(0deg, 0%, 0%, 0.3);
}

.title {
  display: inherit;
  align-items: inherit;
  color: var(--sec);
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.title img {
  float: left;
  width: 50px;
  height: 50px;
}
.title h1 {
  float: right;
  margin-left: 20px;
}

.links {
  margin-left: auto;
}
.links li {
  display: inline;
  padding-right: 2rem;
}
.links li a {
  position: relative;
  color: var(--sec);
  text-decoration: none;
}
.links li a::before {
  width: 0;
  height: 100%;
  background: var(--sec);
  content: "";
  position: absolute;
  display: inline;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.links li a:hover::before {
  content: attr(name);
  width: 100%;
  color: var(--pri);
}

.menu {
  width: 50px;
  height: 50px;
  background: none;
  display: none;
  margin-left: auto;
  padding: 0;
  border: none;
}
.menu div {
  width: 100%;
  height: 5px;
  background: var(--sec);
  border-radius: 5px;
  margin: 7px 0;
  transition: 0.3s ease-in-out;
}
.menu.active div:nth-child(1) {
  transform: translateY(12px) rotate(-45deg);
}
.menu.active div:nth-child(2) {
  transform: rotate(45deg);
}
.menu.active div:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

header {
  width: 100%;
  height: calc(100vh - 250px);
  background: none;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
header h1 {
  padding: 20px;
  text-align: center;
  color: var(--sec);
}

main {
  margin: calc(100vh - 250px) 0 125px 0;
  box-shadow: 0 0 25px 20px hsla(0deg, 0%, 0%, 0.3);
}
main section {
  width: 100%;
  height: calc(100vh - 100px);
  background: var(--bgr);
  box-sizing: border-box;
  padding: 20px;
}
main section * {
  transform: translateY(150px);
  opacity: 0;
  transition: 1s;
}
main section *.active {
  transform: translateY(0);
  opacity: 1;
}
main #Ipsum {
  position: relative;
  background-color: var(--sec);
  color: var(--pri);
}
main #Ipsum::before, main #Ipsum::after {
  content: "";
  width: 100%;
  height: 200px;
  background: var(--bgr);
  position: absolute;
  right: 0;
  bottom: 0;
}
main #Ipsum::after {
  border-radius: 100% 0% 100% 0%/0% 50% 50% 100%;
  background-color: inherit;
}
main #Sit {
  background-color: var(--pri);
  color: var(--bgr);
}
main #Sit ::-moz-selection {
  background-color: var(--bgr);
  color: var(--pri);
}
main #Sit ::selection {
  background-color: var(--bgr);
  color: var(--pri);
}

footer {
  width: 100%;
  height: 125px;
  background: none;
  position: fixed;
  bottom: 0;
  z-index: -1;
}

@media screen and (max-width: 760px) {
  .links {
    width: 100%;
    background: var(--pri);
    position: absolute;
    top: 79px;
    left: 50%;
    transform: translate3d(-50%, -100%, -1px);
    text-align: center;
    padding: 0;
    transition: 0.3s ease-in-out;
  }
  .links.active {
    transform: translate3d(-50%, 0, -1px);
  }
  .links li {
    display: block;
    padding: 1.5rem;
  }
  .menu {
    display: block;
  }
}
@media screen and (max-width: 300px) {
  .title h1 {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */