:root {
    --pri: hsl(174, 33%, 61%);
    --sec: hsl(174, 22%, 30%);
    --bgr: hsl(300, 6%, 99%);
    --alt: hsl(300, 6%, 10%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bgr: hsl(300, 6%, 10%);
        --alt: hsl(300, 6%, 99%);
    }
}

@mixin object($width, $height, $background) {
	width: $width;
	height: $height;
	background: $background;
}

@mixin absolute($top, $right, $bottom, $left, $transform) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    transform: $transform;
}

@mixin center {
	display: flex;
    justify-content: center;
    align-items: center;
}

::selection {
    background-color: var(--alt);
    color: var(--bgr);
}

::-webkit-scrollbar {
    @include object(10px, null, var(--pri));
}

::-webkit-scrollbar-thumb {
    background-color: var(--sec);
    border: var(--pri) 3px solid;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    border-width: 2px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: var(--alt);

    background: {
        color: var(--pri);
        image: url("media/background.webp");
        position: center;
        attachment: fixed;
        repeat: no-repeat;
        size: cover;
    }

    font: {
        family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        size: 1.3rem;
    }
}

nav {
    @include object(100%, 100px, var(--pri));
    box-sizing: border-box;
    position: sticky;
    display: flex;
    top: 0;
    margin-top: 25px;
    padding: 0 20px;
    align-items: center;
    z-index: 1;
    transform-style: preserve-3d;
    box-shadow: 0 -25px var(--pri), 0 15px 25px -10px hsla(0, 0, 0, 0.3);
    user-select: none;
}

.title {
    display: inherit;
    align-items: inherit;
    color: var(--sec);
    text-decoration: none;

    img {
        float: left;
        @include object(50px, 50px, null);
    }

    h1 {
        float: right;
        margin-left: 20px;
    }
}

.links {
    margin-left: auto;

    li {
        display: inline;
        padding-right: 2rem;

        a {
            position: relative;
            color: var(--sec);
            text-decoration: none;

            &::before {
                @include object(0, 100%, var(--sec));
                content: "";
                position: absolute;
                display: inline;
                border-radius: 5px;
                transition: .3s ease-in-out;
            }

            &:hover::before {
                content: attr(name);
                width: 100%;
                color: var(--pri);
            }
        }
    }
}

.menu {
    @include object(50px, 50px, none);
    display: none;
    margin-left: auto;
    padding: 0;
    border: none;

    div {
        @include object(100%, 5px, var(--sec));
        border-radius: 5px;
        margin: 7px 0;
        transition: .3s ease-in-out;
    }

    &.active div {
        &:nth-child(1) {
            translate: 0 12px;
            rotate: -45deg;
        }

        &:nth-child(2) {
            rotate: 45deg;
        }

        &:nth-child(3) {
            translate: 0 -12px;
            rotate: -45deg;
        }
    }
}

header {
    @include object(100%, calc(100vh - 250px), none);
    @include center;
    position: fixed;
    z-index: -1;

    h1 {
        padding: 20px;
        text-align: center;
        color: var(--sec);
    }
}

main {
    margin: calc(100vh - 250px) 0 125px 0;
    box-shadow: 0 0 25px 20px hsla(0, 0, 0, 0.3);

    section {
        @include object(100%, null, var(--bgr));
        min-height: calc(100vh - 100px);
        box-sizing: border-box;
        padding: 20px;
    
        * {
            translate: 0 150px;
            opacity: 0;
            transition: 1s;

            &.active {
                translate: 0;
                opacity: 1;
            }
        }
    }

    #curve {
        @include object(100%, 100px, var(--bgr));

        div {
            @include object(inherit, inherit, var(--sec));
            border-radius: 0 0 100% 0;
        }
    }

    #Ipsum {
        background-color: var(--sec);
        color: var(--pri);

        ::selection {
            background-color: var(--pri);
            color: var(--sec);
        }
    }

    #Dolor {
        color: var(--pri);

        ::selection {
            background-color: var(--pri);
        }
    }

    #Sit {
        background-color: var(--pri);
        color: var(--bgr);

        ::selection {
            background-color: var(--bgr);
            color: var(--pri);
        }
    }
}

footer {
    @include object(100%, 125px, none);
    position: fixed;
    bottom: 0;
    z-index: -1;

    p {
        margin: 10px;
    }

    a {
        @include object(50px, 50px, var(--bgr));
        @include center;
        margin-right: 10px;
        padding: 10px;
        float: right;
        font-size: 2rem;
        color: var(--alt);
        text-decoration: none;
        border-radius: 0 0 10px 10px;
        box-shadow: 5px 5px 5px hsla(0, 0, 0, 0.3);
        transition: .3s;

        &:hover {
            height: 75px;
            align-items: flex-end;

            &:nth-child(1) {
                color: #f00;
            }
    
            &:nth-child(2) {
                color: #7289da;
            }
    
            &:nth-child(3) {
                color: #1da1f2;
            }
    
            &:nth-child(4) {
                color: #6e5494;
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .links {
        @include object(100%, null, var(--pri));
        @include absolute(79px, null, null, 50%, translate3d(-50%, -100%, -1px));
        text-align: center;
        padding: 0;
        transition: .3s ease-in-out;

        &.active {
            transform: translate3d(-50%, 0, -1px);
        }

        li {
            display: block;
            padding: 1.5rem;
        }
    }

    .menu {
        display: block;
    }

    footer {
        display: flex;
        justify-content: center;
        
        p {
            position: absolute;
            bottom: 5px;
            z-index: -1;
        }
    }
}

@media screen and (max-width: 300px) {
    .title h1 {
        display: none;
    }
}